{% extends 'base.html.twig' %}

{% block title %}Hirely Admin{% endblock %}

{% block body %}
<div class="admin-shell">
    {% include 'admin/Partials/sidebar.html.twig' %}

    <div class="admin-main">
        {% include 'admin/Partials/navbar.html.twig' %}

        <main class="admin-content">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-message {{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            {% block admin_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
