<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hirely{% endblock %}</title>

    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/hirely.css') }}">
    {% endblock %}
</head>
<body class="app-root">
    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/live-search.js') }}" defer></script>
    {% endblock %}
</body>
</html>
